
#content.ticket { 
 width: 58em; 
 max-width: 100%;
 margin-left: auto;
 margin-right: auto;
}

#field-description-help { float: right }
#properties div.trac-resizable, #field-description { width: 100% }

#ticket {
 background: #ffd;
 border: 1px outset #996;
 margin-top: 1em;
 padding: .5em 1em;
 position: relative;
}

#ticket.ticketdraft {
 background: #f8f8f8 url(../draft.png);
}
#ticketchange.ticketdraft {
 padding: 0 1em;
 margin: 1em 0;
}
#ticketchange.ticketdraft h3 {
 margin-top: .5em;
}
.preview-notice { font-weight: bold; }

.ticketdraft {
 background: #f8f8f8 url(../draft.png);
 border: 1px outset #996;
 padding: 0 .2em;
}

h1 .status { color: #444; }
#ticket h2.summary { margin: 0 0 .8em 0 }
#ticket .date { color: #996; float: right; font-size: 85%; position: relative }
#ticket .date p { margin: .3em }

#ticket table.properties {
 clear: both;
 border-top: 1px solid #dd9;
 border-collapse: collapse;
 table-layout: fixed;
 width: 100%;
}
#ticket table.properties tr { border-bottom: 1px dotted #eed }
#ticket table.properties td, #ticket table.properties th {
 font-size: 80%;
 padding: .5em 1em;
 vertical-align: top;
}
#ticket table.properties th {
 color: #663;
 font-weight: normal;
 text-align: left;
 width: 20%;
}
#ticket table.properties td { width: 30% }
#ticket table.properties td p:first-child { margin-top: 0 }
#ticket table.properties td p:last-child { margin-bottom: 0 }
#ticket table.properties .description { border-top: 1px solid #dd9 }

#ticket .description h3 {
 border-bottom: 1px solid #dd9;
 color: #663;
 font-size: 100%;
 font-weight: normal;
}
#ticket .description h3 .lastmod {
 font-size: 90%;
}
#ticket .inlinebuttons { 
 float: right;
 position: relative;
 bottom: 0.3em;
 margin-left: 0.2em;
}

#changelog { border: 1px outset #996; padding: 1em }
.trac-shade { background-color: #eee }
#trac-comment-editor { margin-left: 2em; margin-bottom: 1em }
#trac-comment-editor div.trac-resizable { width: 100% }
#trac-comment-editor textarea { 
 background: #ffffe0;
 margin-left: -1px;
 margin-right: -1px;
 width: 100%;
}
#trac-comment-editor .wikitoolbar { margin-left: -1px }
#trac-add-comment :link, #trac-add-comment :visited { color: #b00 }
#changelog h3, #ticketchange h3 {
 border-bottom: 1px solid #d7d7d7;
 color: #999;
 font-size: 100%;
 font-weight: normal;
}
.threading, #changelog .inlinebuttons { float: right; margin-left: 0.2em }
.threading { font-size: 85%; }
.threading :link, .threading :visited { border-bottom: 0 }
#changelog .trac-lastedit {
 padding-left: 2.5em;
 color: #999;
 font-size: 80%;
}
#changelog .trac-lastedit :link, #changelog .trac-lastedit :visited { color: inherit }

#changelog .changes, #changelog ul li, 
#ticket ul li, #ticketchange .changes { 
  list-style: square; 
  margin-left: 2em; 
  padding: 0 
}
#changelog ol li, #ticket ol li {
  list-style-type: decimal;
  margin-left: 2em;
  padding: 0;
}
#changelog .comment, #ticketchange .comment { margin-left: 2em }

#ticket pre, #changelog pre {
  white-space: pre-wrap;
  background-color: #eeeeee;
}

form .field { margin-top: .75em; width: 100% }
form .field fieldset.iefix { margin-left: 1px; margin-right: 1px }
label[for=wikicomment] { float: right }
#wikicomment { margin-left: -1px; margin-right: -1px; padding: 0; width: 100% }
form .field .wikitoolbar { margin-left: -1px }
form .field div.trac-resizable { width: 100% }

#properties { 
  /*white-space: nowrap; */
  line-height: 160%; 
  padding: .5em }
#properties table { border-spacing: 0; width: 100%; padding: 0 .5em }
#properties table th {
 padding: .4em;
 text-align: right;
 width: 20%;
 vertical-align: top;
}
#properties table th.col2 { border-left: 1px dotted #d7d7d7 }
#properties table td { vertical-align: middle; width: 30% }
#properties table td.fullrow { vertical-align: middle; width: 80% }

#action { line-height: 2em }

fieldset.radio { border: none; margin: 0; padding: 0 }
fieldset.radio legend {
 color: #000;
 float: left;
 font-size: 100%;
 font-weight: normal;
 padding: 0 1em 0 0;
}
fieldset.radio label { padding-right: 1em }

@import url(code.css);

#prefs .buttons { margin-top: 0 }
#prefs fieldset { 
 margin-left: 1em;
 border: 1px dotted #dfdfdf;
}
#prefs fieldset legend {
 margin: 0;
 padding: 2px;
}

h1 .numrows, h2 .numrows {
 margin-left: 1em;
 color: #999; 
 font-size: 65%; 
 font-weight: normal; 
}
h2.report-result {
 background: #f7f7f7;
 border-bottom: 1px solid #d7d7d7;
 margin: 2em 0 0;
 padding: 0 .33em;
}
#report-descr { margin: 0 2em; font-size: 90% }
#report-notfound { margin: 2em; font-size: 110% }
#content.report .field { margin: 1em 0; }
#content.report .field label { padding-bottom: .3em; }

#query { clear: right }
#query fieldset, #query fieldset input, #query fieldset select { font-size: 11px }
#query fieldset input[type="button"] { padding: 0.1em 0.5em }
#query fieldset { margin-top: 1em }
#query fieldset.collapsed { 
 border-width: 0;
 margin-bottom: 0pt;
 padding: 0pt .5em;
}
#query .option, #query .option input, #query .option select { font-size: 11px }
#query .option { float: left; line-height: 2em; margin: .9em 2.5em 0 .5em; padding: 0 0 .1em }
#query .buttons { float: right; margin-top: .5em }
#query .buttons input { margin: .5em }
#query hr { clear: both; margin: 0; visibility: hidden }

#filters table { width: 100% }
#filters td.trac-clause { padding: 0 }
#filters td .trac-clause-lsep { 
 float: left;
 width: 47%;
 line-height: 50%;
}
#filters td .trac-clause-msep {
 float: left;
 text-align: center;
 width: 5%;
}
#filters td .trac-clause-rsep { 
 float: right;
 width: 47%; 
 line-height: 50%;
}
#filters td hr {
 margin: 1px;
 visibility: visible
}

#filters tr { height: 2em }
#filters th, #filters td { padding: 0 .2em; vertical-align: middle }
#filters th { font-size: 11px; text-align: right; white-space: nowrap; }
#filters td label { font-size: 11px }
#filters td.mode { text-align: right }
#filters td.filter { width: 100% }
#filters td.filter label.control { padding-right: 1em }
#filters td.and { white-space: nowrap }
#filters td.or { text-align: right; white-space: nowrap }
#filters div.inlinebuttons { display: inline }

#columns div label { 
 display: block;
 float: left;
 padding: 0pt 1em .5em 0pt;
}

/* Styles for the report list and the report results table
   (extends the styles for "table.listing") */
.reports td.title { width: 100%; white-space: normal; }
.reports td.action { white-space: nowrap; }
.tickets tbody:first-child tr.trac-group h2 { margin-top: 0; }
.tickets tr.trac-group { border: none; }
.tickets tr.trac-group:hover { background: none !important; }
.tickets tr.trac-group th { background: none; border: none; padding: 0 0 1em; }
.tickets tr.trac-columns th { background: #f7f7f0 }
.tickets tr.trac-columns th {
 border: 1px solid #d7d7d7;
 border-bottom-color: #999;
 font-size: 11px;
 font-weight: bold;
 padding: 2px .5em;
 vertical-align: bottom;
 white-space: nowrap;
}
.tickets tr.trac-columns th :link:hover, .tickets tr.trac-columns th :visited:hover {
 background-color: transparent;
}
.tickets tr.trac-columns th a { border: none; padding-right: 12px }
.tickets tr.trac-columns th, .reports tr.trac-columns th {
 text-transform: capitalize;
 white-space: nowrap;
}
.tickets tbody td, .reports tbody td { padding: .1em .5em !important; }
.tickets tbody td a, .reports tbody td a { border-bottom: none }
.tickets tbody td.id :link, .tickets tbody td.id :visited {
 font-weight: bold;
}
.tickets tbody td.time a, .tickets tbody td.changetime a { white-space: nowrap }
.tickets tbody tr { border-bottom: 1px solid #ddd }
.tickets tbody tr:hover { background: #eed; color: #000 }
.tickets tr.color1-odd  { background: #fdc; border-color: #e88; color: #a22 }
.tickets tr.color1-even { background: #fed; border-color: #e99; color: #a22 }
.tickets tr.color2-odd  { background: #ffb; border-color: #eea; color: #880 }
.tickets tr.color2-even { background: #ffd; border-color: #dd8; color: #880 }
.tickets tr.color3-odd  { background: #fbfbfb; border-color: #ddd; color: #444 }
.tickets tr.color3-even { background: #f6f6f6; border-color: #ccc; color: #333 }
.tickets tr.color4-odd { background: #e7ffff; border-color: #cee; color: #099 }
.tickets tr.color4-even { background: #dff; border-color: #bee; color: #099 }
.tickets tr.color5-odd { background: #e7eeff; border-color: #cde; color: #469 }
.tickets tr.color5-even { background: #dde7ff; border-color: #cde; color: #469 }
.tickets tr.color6-odd  { background: #f0f0f0; border-color: #ddd; color: #888 }
.tickets tr.color6-even { background: #f7f7f7; border-color: #ddd; color: #888 }
.tickets tr.color6-odd a, .color6-even a { color: #b66 }
.tickets tbody tr.fullrow td, .tickets tbody td.fullrow {
 border: none;
 color: #333;
 background: transparent;
 padding: 0 1em !important;  /* Opera 9 is *very* sensitive with this */
 font-size: 85%;
}
.tickets tbody tr.fullrow:hover { background: transparent !important }
.tickets .fullrow :link, .tickets .fullrow :visited { display: inline }
.tickets .fullrow .meta { color: #999; }
.tickets .fullrow hr { display: none }

/* Query results table */

table.tickets tbody tr.added td { font-weight: bold }
table.tickets tbody tr.changed td { font-style: italic }
table.tickets tbody tr.removed td { color: #999 }
table.tickets tbody tr.prio1 { background: #fdc; border-color: #e88 }
table.tickets tbody tr.even.prio1 { background: #fed; border-color: #e99 }
table.tickets tbody tr.prio2 { background: #ffb; border-color: #eea }
table.tickets tbody tr.even.prio2 { background: #ffd; border-color: #dd8 }
table.tickets tbody tr.prio3  { background: #fbfbfb; border-color: #ddd }
table.tickets tbody tr.even.prio3 { background: #f6f6f6; border-color: #ccc }
table.tickets tbody tr.prio4 { background: #e7ffff; border-color: #cee }
table.tickets tbody tr.even.prio4 { background: #dff; border-color: #bee }
table.tickets tbody tr.prio5 { background: #e7eeff; border-color: #cde }
table.tickets tbody tr.even.prio5 { background: #dde7ff }
table.tickets tbody tr.prio6 { background: #f0f0f0; border-color: #ddd }
table.tickets tbody tr.even.prio6 { background: #f7f7f7 }
table.tickets tbody tr.fullrow th { 
  border: none;
  vertical-align: middle;
  text-align: center;
  font-size: 85%;
}
/** Field set **/
fieldset { padding: 3px 10px !important; border: 1px solid #999; margin: 2px 0; }
fieldset legend.foldable :link, fieldset legend.foldable :visited { background: url(/trac_htdocs/chrome/common/expanded.png) 0 50% no-repeat; border: none; color: #666; font-size: 110%; padding-left: 16px; }
fieldset.collapsed legend.foldable :link, fieldset.collapsed legend.foldable :visited { background-image: url(/trac_htdocs/chrome/common/collapsed.png); }
fieldset.iefix {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#commentaction { border: 1px outset #996; padding: 1em }

.buttons { display: block; overflow: hidden; 
  margin-top: 8px;
  margin-bottom: 0px; 
}

/** for wiki toolbar **/
.wikitoolbar {
 margin-top: 0.3em;
 margin-left: 2px;
 border: solid #d7d7d7;
 border-width: 1px 1px 1px 0;
 height: 18px;
 width: 234px;
}
.wikitoolbar :link, .wikitoolbar :visited {
 background: transparent url(../images/edit_toolbar.png) no-repeat;
 border: 1px solid #fff;
 border-left-color: #d7d7d7;
 cursor: default;
 display: block;
 float: left;
 width: 24px;
 height: 16px;
}
.wikitoolbar :link:hover, .wikitoolbar :visited:hover {
 background-color: transparent;
 border: 1px solid #fb2;
}
.wikitoolbar a#em { background-position: 0 0 }
.wikitoolbar a#strong { background-position: 0 -16px }
.wikitoolbar a#heading { background-position: 0 -32px }
.wikitoolbar a#link { background-position: 0 -48px }
.wikitoolbar a#code { background-position: 0 -64px }
.wikitoolbar a#hr { background-position: 0 -80px }
.wikitoolbar a#np { background-position: 0 -96px }
.wikitoolbar a#br { background-position: 0 -112px }
.wikitoolbar a#img { background-position: 0 -128px }
.wikitoolbar a#field-description-img { background-position: 0 -128px }
.wikitoolbar a#wikicomment-img { background-position: 0 -128px }

/* Section folding */
.foldable :link, .foldable :visited {
 background: url(../images/expanded.png) 0 50% no-repeat;
 border: none;
 padding-left: 16px;
}
.foldable :link:hover, .foldable :visited:hover { background-color: transparent }
.collapsed > .foldable :link, .collapsed > .foldable :visited {
 background-image: url(../images/collapsed.png);
}
.collapsed > div, .collapsed > table, .collapsed > ul, .collapsed > dl { display: none }
fieldset > legend.foldable :link, fieldset > legend.foldable :visited {
 color: #666;
 font-size: 100%;
}

/* titles */
h1 { font-size: 24px; font-weight: normal; }
h2 { font-size: 21px; font-weight: normal; }
h3 { font-size: 16px; font-weight: normal; }
h4 { font-size: 14px; font-weight: bold; }
h5 { font-size: 14px; font-weight: normal; font-style: italic; }
h1 span, h2 span { color: gray; font-size: 90%;}
* .dashboard_h2 { margin-left: 27px; } /* H2s on the dashboard need to be indented on IE only */

.trac-topnav {
 float: right;
 font-size: 80%;
 margin-top: 14px;
}

/* auto complete loading */
.ui-autocomplete-loading {
  background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* for ticket finder */
.trac-toolbar-item {
  margin: 3px 2px 2px 5px;
  display: inline-block;
}
.trac-toolbar-item .browse-ticket {
  padding-left: 10px;
}
.trac-toolbar-item .browse-ticket select{
  width: 218px;
}
.trac-toolbar-item .browse-ticket label{
  font-weight: bold;
  font-size: 90%;
}


#ticketnumber {
  border: 1px solid #DADBD5;
  height: 17px;
  width: 49px;
  display: inline-block;
}
#ticketGo{
  float: left;
  margin: 0;
  padding: 0 0 0 6px;
  position: relative;
  display: inline-block;
}

select#field-project, select#field-milestone, select#field-version {
  width: 250px;
}

/* hilight closed ticket */
a.closed:link, a.closed:visited, span.closed {
  text-decoration: line-through;
}
/* underline the new ticket */
a.new:link, a.new:visited, span.new{
  text-decoration: underline;
}

/**
 * milestone progress bar
 */
.project {
  background: #F7F7EF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 2px;
  width: 46%;
  padding: 5px;
}
.name {
  font-weight: bold;
}
.project .name {
  font-size: 120%;
  border-bottom: 2px solid #d7d7d7;
  background-color: #f7f7f7;
}
.milestone .name {
  font-size: 100%;
  font-style: italic;
  /*font-weight: normal;*/
  border-bottom-width: 0px;
  background-color: transparent;
}
/* General styles for the progress bars */
table.progress {
 border: 1px solid #d7d7d7;
 border-collapse: collapse;
 border-spacing: 0;
 float: left;
 margin: 0;
 padding: 0;
 empty-cells: show;
}
table.progress a, table.progress :link, table.progress :visited,
table.progress :link:hover, table.progress :visited:hover {
 border: none;
 display: block;
 width: 100%;
 height: 1.2em;
 padding: 0;
 margin: 0;
 text-decoration: none
}
table.progress td { background: #fff; padding: 0 }
table.progress td.new { background: #f5f5b5 }
table.progress td.closed { background: #bae0ba }
table.progress td :hover { background: none }
p.percent { 
 line-height: 1.2em;
 margin: 0;
}

/* Styles for the roadmap view */
.milestones { margin: 2em 0 0; padding: 0 }
.milestone { 
  margin-bottom: 5px;
  margin-top: 5px;
  border-bottom: 1px solid #d7d7d7;
}
.milestone .info { white-space: nowrap }
.milestone .info h2 {
 background: #f7f7f7;
 border-bottom: 1px solid #d7d7d7;
 margin: 0;
}
.milestone .info h2 :link, .milestone .info h2 :visited {
 color: #000;
 display: block;
 border-bottom: none;
}
.milestone .info h2 :link:hover, .milestone .info h2 :visited:hover {
 color: #000;
}
.milestone .info h2 em { color: #b00; font-style: normal }
.milestone .info .date {
 color: #888;
 font-size: 11px;
 font-style: italic;
 margin: 0 0 3px 0;
}
.milestone .info .progress { 
  margin: 0 1em; 
  width: 40em; 
  max-width: 70%; 
}
.milestone .info dl {
 font-size: 10px;
 font-style: italic;
 margin: 1em;
 white-space: normal;
 clear: left;
}
.milestone .info dt { display: inline; margin-left: .5em }
.milestone .info dd { display: inline; margin: 0 1em 0 .5em }
.milestone .description { margin-left: 1em }

table.progress td { font-weight: bold; text-shadow: 0 1px 0 #fff; line-height:
16px; font-size: 10px; height: 16px; margin: 0; padding: 0 9px; text-align:
right; }
.meter.commitment p span { float: left; border-width: 1px 0 1px 1px;
text-align: center; }
#contingent_progressbar table.progress { height: 19px; }
.milestone table.progress td.closed,
.sprint table.progress td.closed { color: #4D9C1D; background: #AEEB58
url(../images/trac_progress_gradient.png) top repeat-x; }
.milestone table.progress td.accepted,
.sprint table.progress td.accepted{ color: orange; background: #CB8045
url(../images/trac_progress_gradient.png) top repeat-x; }

.milestone table.progress td.reopened,
.sprint table.progress td.reopened { color: orange; background: #f6ea63
url(../images/trac_progress_gradient.png) top repeat-x; }
.milestone table.progress td.assigned,
.sprint table.progress td.assigned { color: black; background: #f1d0d0
url(../images/trac_progress_gradient.png) top repeat-x; }
.milestone table.progress td.new,
.sprint table.progress td.new { background-color: white; }

/**
 * style for preview dialog
 */
#previewContent {
  background: #ffd;
  border: 1px outset #996;
  text-align: left;
  margin-top: 1em;
  padding: .5em 1em;
  position: relative;
}

#previewContent ul li {
  color: #000;
  list-style: square;
  margin-left: 2em;
  padding: 0;
}

#previewContent ol li {
  list-style-type: decimal;
  margin-left: 2em;
  padding: 0;
}

/**
 * timeline styles
 */
.timeline dl {
 line-height: 1.3em;
 margin-left: 1em;
}
.timeline dl.unread {
 margin-left: 0.38em;
 border-left: 0.31em solid #c0f0c0;
 padding-left: 0.31em;
}

.timeline dt { background: 3px 4px no-repeat; padding: 0 }
.timeline dt :link, dt :visited {
 background: 3px 3px no-repeat;
 border: none;
 color: #000;
 padding: 0 4px 2px 22px;
}
.timeline dt>:link, .timeline dt>:visited {
 /* Hide from IE/Win */
 background-position: 3px 4px;
}
.timeline dt :link:hover, dt :visited:hover { background-color: #eed; color: #000 }
.timeline dt em {
 border-bottom: 1px dotted #bbb;
 color: #b00;
 font-style: normal;
 text-decoration: none;
}
.timeline dt .time { color: #999; font-size: 80%; 
  display: inline-block;
  width: 50px;
}
.timeline dt .author { color: #666; }
.timeline dt.highlight { background-color: #ffa; }
.timeline dd {
 font-size: 80%;
 margin: 0 0 .75em 5.8em;
 padding: 0;
 color: #776;
}

.timeline dt a.ticket { background-image: url(../images/editedticket.png) !important }

/**
 * ticket watching styles
 */
span.watching{
  float: right;
  font-size: 100%;
  border: solid #ffd 1px;
  margin-top: -18px;
  background-color: #ffd;
}

span.watching-sum{
  border-right: solid #996 1px;
  margin-right: -4px;
  padding-right: 4px;
}

span.watching-label {
  padding-left: 2px;
  padding-right: 18px;
  background-image: url(../images/unwatch-icon.png);
  background-repeat: no-repeat;
  background-position: right;
}

a.watching-but-watch{
  padding-left: 3px;
  padding-right: 18px;
  background-image: url(../images/watch-icon.png);
  background-repeat: no-repeat;
  background-position: right;
}

a.watching-but-unwatch{
  padding-left: 3px;
  padding-right: 18px;
  background-image: url(../images/unwatch-icon.png);
  background-repeat: no-repeat;
  background-position: right;
  text-decoration: none;
}
a.watching-but-watch:hover
a.watching-but-unwatch:hover {
  text-decoration: none;
}
